.btn{
  display: flex;
  justify-self: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
  padding: 8px;
  border-radius: 50%;
}

.hover:hover{
  opacity: 0.8;
}

.edit{background-color: var(--black);}
.delete{background-color: var(--red);}
.add{background-color: var(--blue);}
.ok{background-color: var(--green);}

.float{
  position: absolute;
  
  top: -3px;
  right: -11px;
}

.float-ok{
  position: absolute;
  
  top: -3px;
  right: -60px;
}

.trim{
  padding-right: 0px;
  padding-left: 0px
}