#profile{
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 2px Solid var(--grey);
}

#profile img{
  object-fit: cover;

  width: 70px;
  height: 70px;
  border-radius: 50%;
}

#profile div{
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  font-size: 21px;
  padding-left: 10px;
}
