#sound{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px
}

.audio-btn{
  width: 120px;
  text-align: center;
  border: none;
  padding: 8px 0px;
  border-radius: 30px;
  cursor:pointer;

  color: black;
  font-weight: bold;
}

.audio-btn:hover{
  background-color: var(--hover);
}

.audio-active{
  background-color: var(--blue);
  color: white;
  font-weight: normal;
  width: 120px;
  text-align: center;
  border: none;
  padding: 8px 0px;
  border-radius: 30px;
  cursor:pointer;
}