#profile{
  display: flex;

  padding: 24px 0px 30px 24px;
}

#profile-img{
  object-fit: cover;

  width: 70px;
  height: 70px;
  border-radius: 50%;;
}

#proflie-name{
  display: flex;
  align-items: center;
  overflow: hidden;
  
  font-size: 21px;
  font-weight: 500;
  padding-left: 12px;
  width: 50%;
}

