#date-today{
  text-align: center;

  font-size: 24px;
  font-weight: 700;
  padding-top: 24px;
}

#task{
  border-bottom: 2px Solid #D9D9D9;
  display: flex;
  align-items: center;

  padding: 11px 0px 30px 30px;
}

#task-input{
  border: none;
  outline: none;

  width: 330px;
  padding: 4px 14px;
  font-size: 21px;
  font-weight: 400;
  border-bottom: 3px Solid var(--theme)
}

#task-input::placeholder{color: grey}


#task-btn{
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left:30px;
  cursor: pointer;
}

#list{
  overflow-y:auto;
  height:80.5vh;
}

.item{
  display: flex;
  align-items: center;

  margin-left: 28px;
  margin-right: 28px;
  padding: 15px 0px 15px 10px;
  border-bottom: 2px Solid #D9D9D9;
}

.item-check{
  height: 25px; 
  width: 25px;
  accent-color: var(--theme);
}


.item-name{
  width: 310px;
  padding-left: 14px;
  padding-right: 28px;
  font-size: 18px;
  font-weight: 400;
  text-decoration-thickness: 2.5px;
}

.item-edit-name{
  width: 310px;
  background-color: var(--theme);
  color: white;
  padding-left: 14px;
  padding-right: 28px;
  font-size: 18px;
  font-weight: 400;
  border:none;
  outline: none;
}

.item-btn{
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  border-radius: 20%;
  margin-left:12px;
  cursor: pointer;
  pointer-events: all;
}

.delete{background-color: #EA2D40}

.edit{
  background-color: #222222;
}

.theme{
  background-color: var(--theme);
}

.hide{
  pointer-events: none;
  opacity: 0;
}

#task-btn:hover,
.item-btn:hover{
  opacity: 0.6;
}


